@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --textWhite: hsl(0, 0%, 100%);
    --borderWhite: hsl(0, 0%, 100%);
    --fontFamily: "Inter", sans-serif;
    --mainBackground: hsl(228, 99%, 58%);
    --backgroundWhite: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fontFamily);
    background-color: var(--background);
    min-height: 100vh;
    line-height: 1.4;
    overflow-x: hidden;
}

.app {
    width: 100%;
    height: 100vh;
    background-color: var(--mainBackground);
}